* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.4rem;
}

h1 {
  font-family: 'Roboto Condensed';
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.4rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
